@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

h1,
p {
  font-family: Lato;
}

* {
  box-sizing: border-box;
}

ul,
li {
  list-style-type: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.m-t-10 {
  margin-top: 10px;
}

.filter-list {
  display: flex;
  align-items: center;
}

.flex {
  display: flex;
}

.refresh {
  cursor: pointer;
  position: relative;
  top: 4px;
}

.inline-block {
  display: inline-block;
}

.inline-flex {
  display: inline-flex;
}
